<!DOCTYPE html>
<html lang="pt">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Criação de Evento</title>
</head>
<body>
    <div class="box">
        <div class="form-box">
            <h2>Criação de Evento</h2>
            <form th:object="${evento}" th:action="@{/eventos/criar}" method="post">
                <div class="input-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="Digite o seu nome do evento" required/> 
                </div>
                <div class="input-group">
                    <label for="local">Local:</label>
                    <input type="text" id="local" name="local" th:field="*{local}" placeholder="Digite o local do evento" required/>            
                </div>
                <div class="input-group">
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data" th:field="*{data}" />    
                </div>
                <div class="input-group">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>